
.background-layer{
    background:url(../img/desktop.jpg) top left / 100% auto no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    z-index: -10;
}

nav {
    max-width: 100%;
    mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
    margin: auto;
    padding: 10px 0;
    z-index: 100;
}

nav ul {
    text-align: center;
    position: relative;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    padding: 20px;
    font-family: "Verdana";
    color: rgba(0, 0, 0, 0.5);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4);
    font-size: 12px;
    text-decoration: none;
    display: block;
    text-transform: uppercase;
}

nav ul li a:hover {

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.1);
    color: rgba(0, 0, 0, 0.7);
}

.contacts_container{
    position: relative;
    width: 50%;
    height: 230px;
    padding-left: 33.5%;
    clear: both;
}
.address_container{
    float: left;
    font-family: Verdana;
}
.form_container{
    color: black;
    float: left;
    font-family: Verdana;
}
form>div{
    margin-top: 5px;
}

h1{
    color: black;
    margin-left: 890px;
    font-family: Verdana;

}
label{
    display: inline-block;
    clear: left;
    width: 250px;
    text-align: right;

}

.massage_label {
    position: relative;
    bottom: 70px;
}

input {
    display: inline-block;
}
.button{
    display: inline-block;
    margin-left:10px;
    float: right;
    border: 1px solid #ccc;
    border-radius: 3px;
}
input[type=text]{
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}
input[type=submit]{
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
input[type=submit]:hover{
    background-color: red;
}
textarea{
    border: 1px solid #ccc;
    border-radius: 3px;
}

.iframe_container{
    position: relative;
    text-align: center;
}

iframe{
    border: 1px solid #ccc;
    border-radius: 10px;
}