
.background-layer{
	background:url(../img/desktop.jpg) top left / 100% auto no-repeat;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height:100%;
	z-index: -10;
}

nav {
	max-width: 100%;
	mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
	margin: auto;
	padding: 10px 0;
	z-index: 100;
}

nav ul {
	text-align: center;
	position: relative;
	background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

nav ul li {
	display: inline-block;
}

nav ul li a {
	padding: 20px;
	font-family: "Verdana";
	color: rgba(0, 0, 0, 0.5);
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4);
	font-size: 12px;
	text-decoration: none;
	display: block;
	text-transform: uppercase;
}

nav ul li a:hover {

	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
	background: rgba(255, 255, 255, 0.1);
	color: rgba(0, 0, 0, 0.7);
}


h1,h3{
	color: white;
	text-align: center;
	font-family:"Verdana";
}

.test{
	position: relative;
	top: 400px;
}
.test *{
	text-transform: uppercase;
	font-size: 100px;
	line-height: 10%;
}